In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
X = data.iloc[:,[2,3]].values
Y = data.iloc[:,-1].values

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
from sklearn.svm import SVC

In [9]:
model = SVC(kernel='linear', random_state=42)
model.fit(X_train, Y_train)

SVC(kernel='linear', random_state=42)

In [10]:
Y_pred = model.predict(X_test)

In [11]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [12]:
cm = confusion_matrix(Y_test, Y_pred)
cm

array([[66,  2],
       [ 8, 24]], dtype=int64)

In [13]:
acc = accuracy_score(Y_test, Y_pred)
acc

0.9